.summaryTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.summaryTable th,
.summaryTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.summaryTable th {
  font-weight: bold;
}

.summaryTable tbody tr:nth-child(even) {
}
