.pdfRenderer {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}

.pdfRenderer .react-pdf__Page {
  margin-bottom: 1rem;
}

.pdfRenderer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.piecesSummaryHeader,
.piecesListHeader {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.piece {
  font-size: 1.1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.piece:nth-child(even) {
}

.piece:last-child {
  margin-bottom: 0;
}

.completeTable {
  width: 100%;
  border-collapse: collapse;
}

.completeTable th,
.completeTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.completeTable th {
  font-weight: bold;
}

.completeTable tbody tr:nth-child(even) {
}
